<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h1 
            style="background: #3f48cc; color: #fff; padding: 10px 20px; text-align: center; height: 130px; line-height: 110px; font-family: Calibri;"
        >
            Kiểm tra 1 - ASP.NET
        </h1>
        <nav >
            <ul style="display: flex; gap: 30px; align-items: center; justify-content: end; padding: 5px 15px; background: #6871d7; color: #c3c3c3; font-family: Calibri; list-style: none;">
                <li>@Html.ActionLink("Thêm sản phẩm", "Input", "QuanLySanPham", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Hiển thị danh sách", "HienThiDanhSach", "QuanLySanPham", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </nav>
    </div>

    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
